@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eeeeee; /* Hardcode the classic gray */
    color: #333;
}

/* Iconic Imageboard styles */
.greentext {
    color: #789922;
    font-family: inherit;
}

.post-link {
    color: #ff6600;
    text-decoration: none;
}
.post-link:hover {
    color: #cc3300;
}

/* Force links in navbar */
.board-nav a {
    text-decoration: none;
    padding: 0 2px;
}
.board-nav a:hover {
    color: #ff9933;
}
