<blockquote class="postMessage text-sm leading-relaxed text-skin-text flex-1 min-w-0">
    {% for line in content.lines() %}
    {% if line.trim().starts_with(">") && !line.trim().starts_with(">>") %}
    <span class="greentext">{{ line }}</span><br>
    {% else if line.trim().starts_with(">>") %}
    {% let ref_id = line.trim().replace(">>", "") %}
    <a href="#p{{ ref_id }}" class="text-skin-link hover:underline quote-link">&gt;&gt;{{ ref_id }}</a><br>
    {% else %}
    {{ line }}<br>
    {% endif %}
    {% endfor %}
</blockquote>
