{% extends "layout/base.html" %}

{% block admin_nav %}
{% if admin_role > 0 %}
<span class="text-skin-muted">[</span><a href="/admin/dashboard" class="text-red-700 font-bold hover:underline">ADMIN</a><span class="text-skin-muted">]</span>
{% endif %}
{% endblock %}

{% block content %}

<!-- Return Link -->
<div class="mb-4 text-lg font-bold border-b border-skin-border-reply pb-1">
    <a href="/{{ board.slug }}" class="hover:underline text-blue-800">Back</a>
    <span class="text-gray-500 text-sm ml-2">/{{ board.slug }}/ - {{ board.name }}</span>
</div>

<!-- OP -->
{% let is_bump_limit = is_bump_limit %}
{% let is_time_limit = is_time_limit %}
{% include "partials/post_op.html" %}

<!-- Replies -->
<div class="replies space-y-2 mt-4" id="replies-container">
    {% for post in replies %}
    {% include "partials/post_reply.html" %}
    {% endfor %}

    <!-- Injection Point for HTMX -->
    <div id="new-posts"></div>

    <!-- Auto Refresh Trigger -->
    <div id="poll-trigger"
         hx-get="/{{ board.slug }}/thread/{{ thread.id }}/poll"
         hx-vals='{"after": {{ last_post_id }}}'
         hx-trigger="every 10s"
         hx-target="#new-posts"
         hx-swap="beforeend"
         class="hidden">
    </div>
</div>

<hr class="border-skin-border-reply my-8">

<!-- Thread Reply Form -->
{% include "partials/form_reply.html" %}

<div class="text-center text-sm font-bold pb-8 mt-4">
    <a href="/{{ board.slug }}" class="hover:underline text-blue-800">Back to /{{ board.slug }}/</a>
</div>

{% endblock %}
